$link_color: #883132;
 $font-size:1em;
 $lh: 1em;

.wp-block-create-block-read-more-challenge {
	span{
		font-weight: bold;
	}
	font-size:$font-size;
	font-family:sans-serif;
	line-height: 1em;
	a{
		text-decoration: none;
		color:$link_color;
		font-weight:bold;
	}
	margin-bottom: 1.5em;
}
